body {
	background: #FFFFEE;
}

#loveHeart {
	width: 100%;
	aspect-ratio: 670 / 625;
}

#garden {
	width: 100%;
	height: 100%;
}

.elapseClock {
	font-family: "sans-serif";
	display: none;
}

.elapseClock .digit{
    font-family: "Digital";
}

#messages{
    font-family: "GreatVibesRegular";
	display: none;
}

#willYouMarryMe{
    font-family: "GreatVibesRegular";
	text-align: center;
	display: none;
	opacity: 0;
}

#achieve{
	display: none;
}

#loveLetter{
    font-family: "GreatVibesRegular";
	display: none;
}

#errorMsg{
	width: 100%;
	text-align: center;
	font-size: 24px;
	position: absolute;
	top: 100px;
	left:0px;
}

